<h1>Your Recipients</h1>

<% @recipients.each do |recipient| %>
  <% if recipient.present? %>
    <div class="booyah-box col-xs-10 col-xs-offset-1">
      <h2><%= recipient.name %></h2><br>
      <i><%= recipient.address %></i><br>
      <p><%= recipient.notes %></p><br>
    </div>
  <% end %>
<% end %>
<div class="clr"></div>
<br>

<center><%= link_to 'Add a new recipient', new_recipient_path %></center>
