<h1>Your Recipients</h1>

<% @recipients.each do |recipient| %>
  <% if recipient.present? %>
    <div class="booyah-box">
      <h1><%= recipient.name %></h1><br>
      <i><%= recipient.address %></i><br>
      <p><%= recipient.notes %></p><br>
    </div>
  <% end %>
  <hr>
<% end %>
